controllers/__pycache__/__init__.cpython-36.pyc
controllers/__pycache__/controllers.cpython-36.pyc
models/__pycache__/__init__.cpython-36.pyc
models/__pycache__/hr_dependant.cpython-36.pyc
models/__pycache__/hr_employee.cpython-36.pyc
models/__pycache__/res_company.cpython-36.pyc
report/__pycache__/__init__.cpython-36.pyc
